menu "Device Drivers"

source "drivers/core/Kconfig"

# types of drivers sorted in alphabetical order

source "drivers/block/Kconfig"

source "drivers/clk/Kconfig"

source "drivers/cpu/Kconfig"

source "drivers/crypto/Kconfig"

source "drivers/board/Kconfig"

source "drivers/dfu/Kconfig"

source "drivers/gpio/Kconfig"

source "drivers/input/Kconfig"

source "drivers/mmc/Kconfig"

source "drivers/mtd/Kconfig"

source "drivers/phy/Kconfig"

source "drivers/phy/allwinner/Kconfig"

source "drivers/reset/Kconfig"

source "drivers/rtc/Kconfig"

source "drivers/serial/Kconfig"

source "drivers/spi/Kconfig"

source "drivers/usb/Kconfig"

source "drivers/video/Kconfig"

config PHYS_TO_BUS
	bool "Custom physical to bus address mapping"
	help
	  Some SoCs use a different address map for CPU physical addresses and
	  peripheral DMA master accesses. If yours does, select this option in
	  your platform's Kconfig, and implement the appropriate mapping
	  functions in your platform's support code.

endmenu
